{% extends 'user/layout/base.html' %}
{% load tz %}
{% load custom_tags %}

{% block content %}

<div class="container" >
  {% load custom_tags %}
  
  
          
  <a href="" class="btn btn-primary" style="visibility: hidden;">dd</a>
</div> 

      <div class="container" style="width:90%; margin: auto">
        <!-- Carousel wrapper -->
<div
id="carouselMultiItemExample"
class="carousel slide carousel-dark text-center"
data-mdb-ride="carousel"
>
<div style="display: flex; justify-content: flex-end;">
  <div class="mb-4" style="width:313px">
    <input type="search" class="form-control" id="datatable-search-input" placeholder="search with title name">
   
  </div>
 
</div>

<div id="serviceList">
  <!-- Initial HTML content or placeholder -->
  
</div>

<!-- Inner -->
<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row" id="rowid">
        {% for item in service|slice:6 %}
      
        
        <div class="col-lg-4 col-md-12"  id="boxid" style="    margin-bottom: 20px;">
          <div class="card" style="height: 240px;">
      
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
              {{ item.description}}
              </p>
              {% if item.count %}
              <p class="card-text"><small class="text-muted">{{ item.count}} time used that service </small></p> 
               <p class="card-text"><small class="text-muted">{{ item.created_at}}  {{ item.time}} </small></p>
              {% else %}
              <p  style= "height: 25px;
              margin-bottom: 39px;" class="card-text"><small class="text-muted">{{ item.count}}  </small></p> 
              <p class="card-text"><small class="text-muted">{{ item.created_at}} </small></p>

              {% endif %}
              <a href="{% url 'user:upload_file' %}{{ item.title }}/" class="btn btn-danger">Click</a>
            </div>
          </div>
        </div>
       
     
        {% endfor %}

       
      </div>
    </div>
  </div>

  <!-- Single item -->
  {% for subset in data  %}
  

  
  <div class="carousel-item">
    <div class="container">
      <div class="row">
      
        {% for item in subset %}
        
        <div class="col-lg-4 col-md-12" style="    margin-bottom: 20px;">
          <div class="card" style="height: 240px;">
      
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
              {{ item.description}}
              </p>
              {% if item.count %}
              <p class="card-text"><small class="text-muted">{{ item.count}} time used that service </small></p> 
               <p class="card-text"><small class="text-muted">{{ item.created_at}}  {{ item.time}} </small></p>
              {% else %}
              <p  style= "height: 25px;
              margin-bottom: 39px;" class="card-text"><small class="text-muted">{{ item.count}}  </small></p> 
              <p class="card-text"><small class="text-muted">{{ item.created_at}} </small></p>

              {% endif %}
              <a href="{% url 'user:upload_file' %}{{ item.title }}/" class="btn btn-danger">Click</a>
            </div>
          </div>
        </div>
        {% endfor %}
      
      </div>
    </div>
  </div>
 {% endfor %}
 
</div>
<!-- Inner -->


<!-- Controls -->
<div class="d-flex justify-content-center mb-4">
  <button style="background-color: red;"
    class="carousel-control-prev position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button  style="background-color: red;"
    class="carousel-control-next position-relative"
    type="button"
    data-mdb-target="#carouselMultiItemExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>






</div>
<!-- Carousel wrapper -->





      </div>
  

      
      
       

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
  // Initialize the carousel
  $('#carouselMultiItemExample').carousel();

  // Enable the next and previous buttons
  $('.carousel-control-next').click(function() {
    $('#carouselMultiItemExample').carousel('next');
  });

  $('.carousel-control-prev').click(function() {
    $('#carouselMultiItemExample').carousel('prev');
  });
});


    $(document).ready(function() {
      $('.dropdown-toggle').on('click', function(e) {
        e.preventDefault();
        $(this).siblings('.dropdown-menu').toggleClass('show');
      });
    });



  document.getElementById('datatable-search-input').addEventListener('input', (e) => {
  //instance.input-group(e.target.value);
 
  var servicesData = JSON.parse('{{ json_data|safe }}');
  // const tableBody = document.getElementById("tableBody");
  //         let tableRows = "";
  //         for (var i = 0; i < data.length; i++) {

  //         var obj = data[i];
  //         var count = obj.count
  //         if (typeof count === "number")
  //           {
        
  //             console.log(obj.count)
          
  //         tableRows += `<tr>
  //                 <td>${i}</td>
  //                 <td>${obj.title}</td>
  //                 <td>${obj.count}</td>
  //                 <td>${obj.created_at}</td>
  //                 </tr>`;
        
          
        
  //         }
  //         }
  //         tableBody.innerHTML = tableRows;







  // console.log("value",e.target.value)
  // console.log("service",servicesData)

  $.ajax({ 
    url: "/search/?search="+e.target.value,
    type: 'GET',
  
    success: function(response) {
      //console.log("success")
     // console.log("mamn",response)
    
      if (e.target.value === "") {
            // Clear the '#serviceList' element if the input value is empty
            $('#serviceList').empty();
        } else {
            // Update the '#serviceList' element with the received HTML content
            $('#serviceList').html(response.html_content);
        }
    
     // $('#serviceList').html(response);
      
    },
    error: function(xhr, status, error) {
     // $('#select_button').css('display','block');
      console.log("error");
    }
  });

});


</script>


{% endblock %}


